<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css"/>
    <style>
    body{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
</head>
<body>
    <div class="container"><center>
    <h1> Log in </h1>
    <form action="dashboard" method="post">

        <label for="userId">Username:</label>
        <input type="text" id="userId" name="userId">

        <br><label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <br></br><input type="submit" value="Log in">
 
    </form>
    </center></div>
</body>
</html>